:root {
    --dark0_hard : #1d2021;
    --dark0      : #282828;
    --dark0_soft : #32302f;
    --dark1      : #3c3836;
    --dark2      : #504945;
    --dark3      : #665c54;
    --dark4      : #7c6f64;
    --dark4_256  : #7c6f64;

    --gray_245   : #928374;
    --gray_244   : #928374;

    --light0_hard: #f9f5d7;
    --light0     : #fbf1c7;
    --light0_soft: #f2e5bc;
    --light1     : #ebdbb2;
    --light2     : #d5c4a1;
    --light3     : #bdae93;
    --light4     : #a89984;
    --light4_256 : #a89984;

    --bright_red    : #fb4934;
    --bright_green  : #b8bb26;
    --bright_yellow : #fabd2f;
    --bright_blue   : #83a598;
    --bright_purple : #d3869b;
    --bright_aqua   : #8ec07c;
    --bright_orange : #fe8019;

    --neutral_red   : #cc241d;
    --neutral_green : #98971a;
    --neutral_yellow: #d79921;
    --neutral_blue  : #458588;
    --neutral_purple: #b16286;
    --neutral_aqua  : #689d6a;
    --neutral_orange: #d65d0e;

    --faded_red     : #9d0006;
    --faded_green   : #79740e;
    --faded_yellow  : #b57614;
    --faded_blue    : #076678;
    --faded_purple  : #8f3f71;
    --faded_aqua    : #427b58;
    --faded_orange  : #af3a03;

    --background: var(--dark0_soft);
    --background-second: var(--dark1);
    --foreground: var(--light1);
    --foreground-second: var(--light3);
    --link: var(--neutral_aqua);
    --link-second: var(--bright_aqua);
    --border: var(--dark4);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    border-color: var(--border);
}
body, pre, input, select, textarea, button {
    color: var(--foreground);
    /* background-color: var(--background); */
}

tbody {
    background-color: var(--background);
}

input[type=text] {
    background-color: var(--background-second);
    color: var(--foreground);
    border-color: var(--border);
}

html {
    scrollbar-color: var(--background-second) var(--dark2);
}

a {
    color: var(--link);
}

svg {
    fill: var(--foreground);
}

.loading {
    background-color: var(--background);
}

.header {
    background-color: var(--background);
}

.globalHeaderSearch .search {
    background-color: var(--background-second);
    border: var(--border);
}

/* Global Header → Search → Search Icon */
.sc-hqyNC {
    background-color: var(--border);
    border-color: var(--dark3);
}

.globalHeaderSearch .search input[type="text"] {
    background-color: var(--background-second);
}

.globalHeaderSearch .search input[type="text"] {
    color: var(--foreground);
}

.inputLong::placeholder {
    color: var(--foreground-second);
}

.globalHeaderPlatform__icon {
    fill: var(--foreground);
}

.searchResult {
    border-color: var(--border);
}

.searchResult__chatList > li {
    background-color: var(--background-second);
}

.searchResult__chatList > li + li {
    border-color: var(--border);
}

.searchResult__chatList > li:hover {
    background-color: var(--background);
}

.roomList {
    background-color: var(--background);
}

.roomListItem__roomName {
    color: var(--foreground);
}

.searchResult__footer {
    background-color: var(--background);
    border-color: var(--border);
}

.globalHeaderMyAccount {
    background-color: var(--background-second);
    border: var(--border);
}

.globalHeaderMyAccount:hover {
    background-color: var(--background);
}

.globalHeaderMyAccount__name {
    color: var(--foreground);
}

.globalHeaderMyAccount__name:hover {
    color: var(--foreground-second);
}

.globalHeaderMyAccount__openMenuIcon {
    fill: var(--foreground);
}

.globalHeaderMyAccount.myStatusButtonSelected {
    background-color: var(--background-second);
}

.myAccountMenu {
    background-color: var(--background-second);
}

.myAccountMenu__anchor {
    color: var(--foreground);
}

.myAccountMenu__separate--top {
    border-color: var(--border);
}

.roomListHeader {
    background-color: var(--background);
    border-color: var(--border);
}

.sc-jKJlTe {
    color: var(--foreground);
}

/* サイドバー → チャットルーム */
.sc-gipzik {
    background-color: var(--background);
}

.sc-gipzik:hover {
    background-color: var(--dark3);
}

.ewOSjQ {
    color: var(--foreground);
}

._unreadBadge {
    background-color: var(--dark3);
}

/* サイドバー → ヘッダ → All Chats → ハイライト */
.sc-jKJlTe:hover {
    background-color: var(--background-second);
}

.roomListHeader__myChatIcon {
    fill: var(--foreground);
}

.uiDropDown__labelIcon {
    fill: var(--foreground);
}

.roomListHeader__roomFilterListContainer:hover {
    background-color: var(--background-second);
}

/* サイドバー　→ チャットルーム → Pin Icon */
.sc-bwzfXH {
    fill: var(--faded_blue);
}

/* サイドバー → チャットルーム → 未読バッヂ */
.sc-caSCKo {
    color: var(--foreground);
}

/* サイドバー → チャットルーム → ハイライトテキスト */
.kLKEBy {
    color: var(--foreground);
}

/* サイドバー → チャットルーム → 選択セル */
.gqDYxs {
    border-color: var(--border);
}

/* サイドバー → チャットルーム → 現在のセル */
.dzNwQI {
    background-color: var(--background-second);
}

/* サイドバー → フッタ */
.sc-hmzhuo {
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px inset; */
    background-color: var(--background);
}

/* サイドバー → フッタ → Show More */
.sc-hSdWYo {
    background-color: var(--gray_244);
    border-color: var(--background-second);
}

/* サイドバー → フッタ → Show More → テキスト */
.sc-kkGfuU {
    color: var(--foreground);
}

.chatRoomHeader {
    background-color: var(--background);
    border-color: var(--border);
}

.chatRoomHeader__fileListButtonIcon {
    fill: var(--foreground);
}

.chatRoomHeader__settingButtonIcon {
    fill: var(--foreground);
}

.chatRoomHeaderMemberList__detail {
    background-color: var(--dark2);
}

.chatRoomHeaderMemberList__detail:hover {
    background-color: var(--border);
}

.chatRoomHeaderMemberList__detailLabel {
    color: var(--foreground);
}

.chatRoomSettingDialog__headerTab li {
    background-color: var(--background);
}

.chatRoomSettingDialog__headerTab li:hover {
    background-color: var(--background-second);
}

.memberListLabel {
    color: var(--foreground)
}

.roomContent {
    background-color: var(--background);
    border-color: var(--border);
}

.timeLine {
    box-shadow: var(--border) -1px -1px 0px 1px inset, var(--border) 1px 1px 0px 1px inset;
    border: none;
}

.timelineMessage {
    border-color: var(--dark2);
    background-color: var(--background);
}

.timelineMessage__userName {
    color: var(--link);
}

.timelineMessage__orgName {
    color: var(--foreground-second);
}

.timelineMessage__timeStamp {
    color: var(--foreground-second);
}

.timelineMessage--mention {
    background-color: var(--faded_blue);
    color: var(--background-second);
}

.timelineMessage__avatar .avatarMedium {
    background-color: var(--background);
}

.timelineMessage.chatTimeLineMessageHover {
    background-color: var(--background);
    border-color: var(--border);
}

.timelineMessage--mention.chatTimeLineMessageHover {
    background-color: var(--faded_blue);
}

.timelineMessage--mention .timelineMessage__message {
    color: var(--foreground);
}

.timelineMessage--editing {
    background-color: var(--bright_blue);
}

.timelineMessage__editLabel {
    background-color: var(--neutral_blue);
    color: var(--foreground);
}

.timelineMessage__editLabelIcon {
    fill: var(--foreground);
}

.timelineMessage__editIcon {
    fill: var(--foreground);
}

.timelineMessage__systemMessage {
    background-color: var(--background-second);
}

.timelineMessage .actionNav {
    background-color: var(--background);
    border-color: var(--border);
}

.timelineMessage--mention .actionNav {
    background-color: var(--faded_blue);
    border-color: var(--border);
}

.actionNav__itemIcon {
    fill: var(--foreground);
}

.messageBadge .messageBadge__avatar {
    background-color: var(--background);
}

.messageBadge .chatTimeLineTo,
.messageBadge .chatTimeLineReply,
.messageBadge__toAllBadge {
    background-color: var(--link);
}

.messageBadge .chatTimeLineTo__icon,
.messageBadge .chatTimeLineReply__icon,
.messageBadge__toAllBadgeIcon {
    fill: var(--light0);
}

.messageBadge:hover .chatTimeLineReply {
    background-color: var(--link-second);
}

.messageBadge:hover .chatTimeLineReply + .messageBadge__avatar {
    border-color: var(--link-second);
}

.linkStatus {
    color: var(--foreground);
}

.chatInfo {
    background-color: var(--background);
    border-color: var(--border);
}

.chatInfo > .title {
    background-color: var(--background-second);
    border-color: var(--border);
}

.chatInfoTaskArea {
    background-color: var(--background);
}

.chatInfoTaskMetaArea {
    background-color: var(--background-second);
}

.taskDateLimit__dueDate--limitOver {
    color: var(--faded_red);
}

.taskDateLimit__dueTime {
    color: var(--faded_red);
}

.quoteText {
    color: var(--foreground);
}

.quoteText > .chatInfo > .title {
    color: var(--foreground);
}

.chatQuote__quoteIcon {
    fill: var(--foreground);
}

.chatQuote__title {
    color: var(--foreground-second);
}

.chatQuote__timeStamp {
    color: var(--foreground);
}

.icoFontInfo {
    color: var(--foreground);
}
.timelineLinkAppend {
    background-color: var(--bright_aqua);
    color: var(--link);
}

.timeLine__unreadLineBorder {
    background-color: var(--neutral_red);
}

.timeLine__unreadLineBody {
    background-color: var(--background);
}

.timeLine__unreadLineText {
    color: var(--neutral_red);
}

.timeLine__dateHead {
    border-color: var(--border);
}

.timeLine__dateHeadBody {
    background-color: var(--background);
}

.timeLine__dateHeadText {
    color: var(--light2);
}

.chatInput {
    border-color: var(--border);
}

.chatInput__submit {
    background-color: var(--neutral_blue);
    color: var(--foreground);
}

.chatInput__submit:hover {
    background-color: var(--bright_blue);
    color: var(--border);
    border-color: var(--border);
}

.chatCode {
    background-color: var(--background-second);
    border-color: var(--border);
    color: var(--foreground-second);
}

.floatWindow__header {
    background-color: var(--background-second);
    border-color: var(--border);
}

.floatWindow__closeButtonIcon {
    fill: var(--foreground);
}

.messageSearchContent {
    background-color: var(--background-second);
    border-color: var(--border);
}

.messageSearchContent__speakerOptionButton {
    fill: var(--foreground);
    background-color: var(--background);
    border-color: var(--border);
}

.messageSearchContent__calendarIcon {
    fill: var(--foreground);
}

.selectboxDefault {
    background-color: var(--background);
    border-color: var(--border);
}

.selectboxContent {
    background-color: var(--background-second);
    border-color: var(--border);
}

.selectboxContent .selectboxSelected {
    background-color: var(--neutral_blue);
}

.selectboxContent .selectboxSelected:hover {
    background-color: var(--neutral_blue);
}

.selectboxContent li:hover {
    background-color: var(--background);
}

.controlGroup .controlLabel {
    color: var(--foreground);
}

.contactPanel__footer {
    background-color: var(--background);
}

.contactPanel__joinLive {
    background-color: var(--background);
    border-color: var(--border);
}

.contactPanel__joinLiveIcon {
    fill: var(--foreground);
}

.contactPanel__coverImageContainer {
    background-color: var(--background-second);
    border-color: var(--border);
}

._moveButton {
    background-color: var(--background-second);
    color: var(--foreground);
    border-color: var(--border);
}

._moveButton:hover {
    background-color: var(--background);
    color: var(--foreground);
    border-color: var(--border);
}

.searchResultBox {
    border-color: var(--border);
}

.searchResultListBox {
    border-color: var(--border);
}

._cwBBButton {
    background-color: var(--background-second);
    color: var(--foreground);
    border-color: var(--border);
}

._cwBBButton:hover {
    background-color: var(--background);
    color: var(--foreground);
    border-color: var(--border);
}

._cwBBSelected.selected {
    background-color: var(--background);
    color: var(--neutral_blue);
    border-color: var(--border);
}

.messageSearchExpand__searchExpandButtonIcon {
    fill: var(--foreground);
}

.taskMine {
    background-color: var(--neutral_aqua);
}

.taskDateLimit {
    color: var(--foreground);
}

.chatInfoTaskMetaArea {
    border-color: var(--border);
}

.taskMine .piconname span {
    color: var(--foreground);
}

.taskComplete {
    background-color: var(--background);
}

.taskComplete .chatInfoTaskMetaArea {
    border-color: var(--border);
    color: var(--foreground-second);
}

.showMoreComplete {
    background-color: var(--background);
    border-color: var(--border);
}

.chatInfoTaskMetaBody__dueDate {
    color: var(--foreground-second);
}

.messegeDelete {
    border-color: var(--border);
    color: var(--foreground-second);
}

.chatSendArea {
    background-color: var(--background);
}

.chatSendArea__areaScaleIconLeft {
    fill: var(--foreground);
}

#_mainContentExpandLeft:hover {
    background-color: var(--background-second);
}

#_mainContentExpandRight:hover {
    background-color: var(--background-second);
}

.chatInput__tools {
    background-color: var(--background);
    border-color: var(--border);
}

.chatInput__icon {
    fill: var(--foreground);
}

.chatInput__editContainer {
    background-color: var(--neutral_blue);
    color: var(--foreground);
}

.chatInput__editCancelIcon {
    fill: var(--foreground);
}

.chatInput__textarea {
    background-color: var(--background);
}

.chatInput__textarea::placeholder {
    color: var(--foreground-second);
}

.sideContentResizeCtrlArea {
    border-color: var(--border);
    background: var(--background);
}

.subContentResizeCtrlArea {
    border-color: var(--border);
    background: var(--background);
}

.roomInfo__textInputDescription,
.roomInformationContent {
    background-color: var(--background);
}

.roomDescEditDialog__form,
.roomDescription__header {
    background-color: var(--background);
}

.roomDescription__headerText {
    color: var(--foreground);
}

.roomDescription__inviteButton {
    background-color: var(--neutral_blue);
    color: var(--link);
    border-color: var(--bright_blue);
}

.roomDescription__inviteButton:hover {
    background-color: var(--bright_blue);
}

.roomDescription__inviteButtonIcon {
    color: var(--neutral_blue);
}

.roomDescription__editButtonIcon {
    fill: var(--foreground);
}

.roomDescription__description:hover {
    background-color: var(--background);
}

.roomTask__header {
    background-color: var(--background);
}

.roomTask__headerText {
    color: var(--foreground);
}

/* Task Area → Task Add Area */
.sc-etwtAo {
    background-color: var(--background-second);
    border-color: var(--border);
}

/* Task Area → Task Add Area → Highlighted */
.egxNow {
    border-color: var(--border);
    box-shadow: var(--border) -1px -1px 0px 1px inset, var(--border) 1px 1px 0px 1px inset;
}

/* Task Area → Task Add Area → Edit Add Task → Header */
.sc-daURTG  {
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task */
.diduEH {
    background-color: var(--background);
}

/*  Task Area → Task Add Area → Edit Add Task → Text Area */
.sc-cooIXK {
    background-color: var(--background-second);
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task → To Text */
.sc-bnXvFD {
    color: var(--foreground);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to Text */
.sc-eLExRp {
    color: var(--faded_blue);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Highlight */
.sc-bXGyLb:hover {
    background-color: var(--background-second);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Select Assignee */
.fCGBAs {
    background-color: var(--background-second);
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Select Assignee → Search by name */
.sc-bAeIUo {
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Select Assignee → All Text */
.FCLPp {
    color: var(--foreground);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Select Assignee → Assinee List */
.sc-bMVAic {
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Select Assignee → Assinee List Cell */
.sc-iuJeZd {
    background-color: var(--background-second);
}

.sc-iuJeZd:hover {
    background-color: var(--background);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Select Assignee → Assinee List Cell → Icon */
.sc-cLQEGU {
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task → To → Assign to → Select Assignee → Assinee List Cell → Icon */
.sc-hORach {
    color: var(--foreground);
}

/* Task Area → Task Add Area → Edit Add Task → Name */
.sc-fYiAbW {
    color: var(--foreground);
}

/* Task Area → Task Add Area → Edit Add Task → Name → Highlight */
.dFyOHc {
    background-color: var(--background-second);
}

/* Task Area → Task Add Area → Edit Add Task → Name → Delete Icon */
.sc-fOKMvo  {
    background-color: var(--background-second);
}

/* Task Area → Task Add Area → Edit Add Task → Name → Add Button → Highlight */
.sc-gFaPwZ:hover {
    background-color: var(--background-second);
}

/* Task Area → Task Add Area → Edit Add Task → Due Text */
.sc-chbbiW {
    color: var(--foreground);
}

/* Task Area → Task Add Area → Edit Add Task → Due Date */
.sc-cqCuEk {
    color: var(--foreground);
}

.sc-cqCuEk:hover {
    background-color: var(--background-second);
}

/* Task Area → Task Add Area → Edit Add Task → Select Time Text */
.sc-jtggT {
    color: var(--faded_blue);
}

/* Task Area → Task Add Area → Edit Add Task → Select Time Text → Highlight */
.dgJAbf {
    background-color: var(--background-second);
}

/* Task Area → Task Add Area → Edit Add Task → Delete Button */
.sc-LKuAh {
    background-color: var(--gray);
}

/* Task Area → Task Add Area → Edit Add Task → Delete Button → Highlight */
.lobZHb {
    background-color: var(--background-second);
}

/* Task Area → Task Add Area → Edit Add Task → Add Task Button → Highlight */
.duBXQE:hover {
    background-color: var(--foreground-second);
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task → Add Task Button → Disable */
.duBXQE {
    background-color: var(--foreground-second);
    border-color: var(--border);
}

/* Task Area → Task Add Area → Edit Add Task → Add Task Button Text → Disable */
.duBXQE .sc-kkGfuU {
    color: var(--background-second);
}

/* Task Area → Task Add Area → Text */
.sc-iGPElx {
    color: var(--link);
}

/* Task Area → My Task Switch → Text */
.sc-kfGgVZ {
    color: var(--foreground);
}

/* Task Area → Task List → Item */
._taskList {
    background-color: var(--background-second);
    border-color: var(--border);
    box-shadow: var(--border) -1px -1px 0px 1px inset, var(--border) 1px 1px 0px 1px inset;
}

/* Task Area → Task List → Item → Content */
.sc-tilXH {
    border-color: var(--border);
}

/* Task Area → Task List → Item → Done Button */
.sc-hSdWYo {
    background-color: var(--dark2);
}

.sc-hSdWYo:hover {
    background-color: var(--neutral_blue);
}

/* Task Area → Task List → Item → Text */
.sc-ktHwxA {
    color: var(--foreground);
}

/* Task Area → Task List → Item → Due Text */
.sc-iELTvK {
    color: var(--foreground);
}

/* Task Area → Task List → Item → Due Date */
.sc-jwKygS {
    color: var(--neutral_red);
}

/* Task Area → Task List → Item → ToolTip */
.sc-dfVpRl {
    background-color: var(--background);
}

.dialogContainer {
    background-color: var(--background);
    border-color: var(--border);
}

.dialogContainer__header {
    background-color: var(--background-second);
    border-color: var(--border);
}

.dialogContainer__closeButtonIcon {
    fill: var(--foreground);
}

.dialogContainer__footer {
    background-color: var(--background-second);
    border-color: var(--border);
}

.button {
    border-color: var(--border);
}

.buttonGray {
    background-color: var(--background);
    color: var(--foreground);
}

.buttonGray:hover {
    background-color: var(--background-second);
    color: var(--foreground-second);
    border-color: var(--border);
}

.btnDanger {
    background-color: var(--neutral_red);
    color: var(--foreground);
}

.btnPrimary {
    background-color: var(--neutral_blue);
    color: var(--foreground);
    border-color: var(--border);
}

.btnPrimary:hover {
    background-color: var(--bright_blue);
    color: var(--foreground);
    border-color: var(--border);
}

.tooltip--white {
    background-color: var(--background-second);
    border-color: var(--border);
}

.tooltip__optionContainer {
    border-color: var(--border);
}

.tooltip > ul li.tooltipListHover,
.tooltipList__item:hover {
    background-color: var(--neutral_aqua);
}

.emoticonTooltip__emoticonContainer:hover {
    background-color: var(--background);
    border-color: var(--border);
}

.emoticonTooltip__footer {
    background-color: var(--background);
}

.search {
    background-color: var(--background-second);
    border-color: var(--border);
}

.search.focus {
    border-color: var(--neutral_blue);
}

.toSelectorTooltip__checkAll {
    color: var(--foreground);
}

.toSelectorTooltip__toAllIconContainer {
    background-color: var(--neutral_green);
}

.toSelectorTooltip__toAllIcon {
    fill: var(--foreground);
}

.toSelectorTooltip__footer {
    background-color: var(--background);
    border-color: var(--border);
}

.groupCallMemberListBox {
    background-color: var(--background-second);
    border-color: var(--border);
}

.groupCallMemberListBox > p {
    background-color: var(--background);
    border-color: var(--border);
}

.groupCallMember:hover {
    background-color: var(--background);
}

.quoteTooltip__toTask {
    background-color: var(--background-second);
    color: var(--foreground);
    border-color: var(--border);
}

.quoteTooltip__toMessage {
    background-color: var(--background-second);
    color: var(--foreground);
    border-color: var(--border);
}

.quoteTooltip__toTask:hover {
    background-color: var(--background);
    color: var(--foreground-second);
    border-color: var(--border);
}

.quoteTooltip__toMessage:hover {
    background-color: var(--background);
    color: var(--foreground-second);
    border-color: var(--border);
}

.moreActionTooltip__item:hover {
    background-color: var(--background);
}

.moreActionTooltip__icon {
    fill: var(--foreground);
}

.moreActionTooltip__itemText {
    color: var(--foreground);
}

.datePicker__header {
    background-color: var(--background);
}

.datePicker__calendarDate {
    border-color: var(--border);
}

.datePicker__calendarDate:hover {
    background-color: var(--dark2);
}

.datePicker__calendarDate--otherMonth {
    background-color: var(--background);
    color: var(--foreground);
}

.datePicker__footer {
    background-color: var(--background);
}

.datePicker__selectTodayButton {
    background-color: var(--neutral_blue);
    color: var(--foreground);
    border-color: var(--border);
}

.datePicker__closeButton {
    background-color: var(--background-second);
    color: var(--foreground);
    border-color: var(--border);
}

.dropDownTooltip__item:hover {
    background-color: var(--background);
}

.dropDownTooltip__separator {
    border-color: var(--border);
}

.scrollableTable {
    border-color: var(--border);
}

.scrollableTable table thead {
    background-color: var(--background-second);
    border-color: var(--border);
}

.uploadFileDialog__fileNameLabel {
    color: var(--foreground);
}

.uploadFileDialog__messageEditorLabel {
    color: var(--foreground);
}

.uploadFileDialog__toolbar {
    background-color: var(--background);
    border-color: var(--border);
}

.uploadFileDialog__emoticonIcon {
    fill: var(--foreground);
}

.uploadFileDialog__messageTextarea {
    background-color: var(--background);
    border-color: var(--border);
}

/* Floating component container */
.sc-iqzUVk {
    border-color: var(--border);
    background-color: var(--background-second);
}

/* Floating component container → Cell → Don't Set */
.eBcHfl {
    background-color: var(--faded_blue);
    color: var(--foreground);
    border-color: var(--border);
}

/* Floating component container → Cell → Don't Set → Highlight */
.eBcHfl:hover {
    background-color: var(--neutral_blue);
}

/* Floating component container → Cell */
.RXCJL {
    background-color: var(--background-second);
    color: var(--foreground);
    border-color: var(--border);
}

.RXCJL:hover {
    background-color: var(--background);
}
